<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px; font-size: 2rem; font-weight: 600;">
    Enter Details of Products
  </h1>
  
  <div class="container" style="max-width: 600px; margin: 0 auto;">
    <form action="">
    <input type="text" [(ngModel)]="product.name" name="name" class="form-control" placeholder="name"><br>
    <input type="text"  [(ngModel)]="product.description" name="description" class="form-control" placeholder="description"><br>
    <input type="number" [(ngModel)]="product.price" name="price"  class="form-control" placeholder="price"><br>

    <select [(ngModel)]="product.brandId" name="brandId" id="" class="form-control">
        <option value="none">Choose brand</option>
        @for(item of myBrands; track $index){
            <option [value]="item.id">{{item.name}}</option>
        }
    </select><br>
        <input type="button" value="Add product" (click)="AddProduct(product)" class="form-control btn btn-success">
    </form>
</div>
